./COMPSs-OmpSs/Image_data/N65536_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N65536_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N32768_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N512_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/color2000.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/N10_K2_d10_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N128_K64_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N32768_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N65536_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N1024_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N128_K64_d100_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/N128_K64_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/edge100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N32768_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N4096_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/color10.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N512_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N2048_K64_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/edge100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/color2000.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N32768_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N65536_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/N128_K64_d100_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N256_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N16384_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/edge100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N10_K2_d10_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N1024_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N4096_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K64_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N512_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N1024_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N4096_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N1024_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/N128_K4_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N2048_K64_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N1024_K64_d100_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N32768_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N8192_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N16384_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N128_K4_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/texture100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N32768_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/texture100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/color100.txt filter=lfs diff=lfs merge=lfs -text
./generator/N1024_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N1024_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N16384_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N16384_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/color500.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N2048_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N512_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N8192_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N8192_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N4096_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N2048_K8_d20_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N1024_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/README.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N512_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N512_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N2048_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N2048_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N256_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N16384_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N8192_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N4096_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N2048_K64_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N8192_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/texture100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/color500.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/color10.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/color10.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N2048_K4_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N32768_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N4096_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/color500.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K4_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N128_K4_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N16384_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N16384_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N512_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N512_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K8_d20_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N4096_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N16384_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N256_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N16384_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N2048_K32_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N2048_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N4096_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N16384_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/color2000.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/color100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N32768_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N1024_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N4096_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N128_K64_d100_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N2048_K32_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N8192_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/color100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N8192_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K32_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N128_K64_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N1024_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N16384_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N256_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K64_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N256_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N8192_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N256_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/color100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N2048_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N2048_K64_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N65536_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N2048_K8_d20_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/color2000.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N1024_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N2048_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N8192_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/texture100.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N512_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N128_K64_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N8192_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N4096_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N8192_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N4096_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/N2048_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N1024_K512_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N32768_K128_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N1024_K64_d100_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/edge100.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/N32768_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/color500.txt filter=lfs diff=lfs merge=lfs -text
./generator/test_files/N32768_K256_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N2048_K1024_d50_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/N128_K4_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/N128_K64_d100_0.txt filter=lfs diff=lfs merge=lfs -text
./generator/N2048_K4_d5_0.txt filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/edge17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/color100.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/color17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/color17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/edge17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/color100.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/color100.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/color17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/color100.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/texture17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/texture17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-OmpSs/Image_data/edge17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs/Image_data/texture17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/texture17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda+CPU/Image_data/edge17695.bin filter=lfs diff=lfs merge=lfs -text
./COMPSs-Cuda/Image_data/color17695.bin filter=lfs diff=lfs merge=lfs -text
